html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  height: auto;
}

.visually-hidden {
  display: none;
}

/* === HEADER STARTS === */

.inner-page .main-header-logo:hover {
  opacity: 0.8;
}

.inner-page .main-header-logo:active {
  opacity: 0.3;
}

.main-header {
  min-height: 115px;
  background-color: #eeeeee;
}

.main-navigation {
  height: 126px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
}

.main-header-logo {
  width: 160px;
  height: 65px;
  padding-bottom: 12px;
}

.main-nav-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 440px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 200px;
  list-style: none;
}

.user-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  width: 180px;
  list-style: none;
  margin-bottom: 5px;
  margin-left: auto;
  margin-top: 20px;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-nav-item a, .user-navigation a {
  color: #000000;
  text-transform: uppercase;
  display: block;
  vertical-align: middle;
}

.user-navigation .basket {
  padding-left: 105px;
  position: relative;
  margin-bottom: 16px;
}

.user-navigation .basket::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 65px;
  width: 18px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-nav-item a:hover, .user-navigation a:hover {
  color: #fb565a;
}

.main-nav-item a:focus, .user-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}

.inner-page .main-nav-store-current {
  border-bottom: 1px solid #fb565a;
}

/* === HEADER ENDS === */

/* === CONTENT STARTS === */

.slider {
  margin: 0;
  padding: 0;
  min-height: 430px;
  background-color: #eeeeee;
}

.slider-title {
  font-size: 55px;
  line-height: 55px;
}

.slider-text {
  color: #283136;
}

.slider-first .button, .slider-second .button, .slider-third .button {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.slider-first .button:hover, .slider-second .button:hover, .slider-third .button:hover {
  background-color: #e74246;
}

.slider-first .button:active, .slider-second .button:active, .slider-third .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.services-list {
  list-style: none;
}

.services-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.services-title p {
  color: #283136;
}

.service-item .button {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}

.service-item:nth-child(1) .button {
  background-color: #fb565a;
}

.service-item:nth-child(2) .button {
  background-color: #00ca74;
}

.service-item:nth-child(3) .button {
  background-color: #efc84a;
}

.service-item:nth-child(1) .button:hover {
  background-color: #e74246;
}

.service-item:nth-child(2) .button:hover {
  background-color: #00bc6c;
}

.service-item:nth-child(3) .button:hover {
  background-color: #eab534;
}

.service-item:nth-child(1) .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.service-item:nth-child(2) .button:active {
  background-color: #00bc6c;
  color: rgba(255, 255, 255, 0.3);
}

.service-item:nth-child(3) .button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.about-us-title {
  font-size: 45px;
  line-height: 45px;
}

.about-us-text {
  color: #283136;
}

.about-us-list-title {
  font-weight: bold;
  text-transform: uppercase;
}

.about-list ul {
  color: #283136;
  list-style: none;
}

.about-list--right p {
  font-weight: bold;
}

.portfolio ul {
  list-style: none;
}

.portfolio img {
  opacity: 0.2;
}

.portfolio img:hover {
  opacity: 1;
}

.portfolio img:active {
  opacity: 0.1;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.contacts-title p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts .button {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.contacts .button:hover {
  background-color: #e74246;
}

.contacts .button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.main-header h1 {
  font-size: 55px;
  line-height: 55px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.price-controls {
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.filter-option span {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-option {
  list-style: none;
}

.filter button {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
}

.filter button:hover {
  background-color: #dfdfdf;
}

.filter button:active {
  background-color: #d5d5d5;
  color: rgba(255, 255, 255, 0.3);
}

.catalog h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-option {
  font-size: 14px;
  line-height: 18px;
  list-style: none;
}

.catalog-option a {
  color: #000000;
  opacity: 0.3;
}

.catalog-option a:hover {
  color: #000000;
  opacity: 0.6;
}

.catalog-option a:active {
  color: #000000;
  opacity: 1;
}

.catalog-arrow-down-up a {
  color: #000000;
  opacity: 0.3;
}

.catalog-arrow-down-up a:hover {}

.catalog-arrow-down-up a:active {}

.item-description {
  background-color: #eeeeee;
}

.item-description .item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.item-description .item-text {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.item-description .button {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.item-description .button:hover {
  background-color: #e74246;
}

.item-description .button:active {
  background-color: #d7373b;
}

.pagination ul {
  list-style: none;
}

.pagination a {
  color: #000000;
  background-color: #eeeeee;
}

.pagination a:hover {
  background-color: #dfdfdf;
}

.pagination a:focus {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3)
}

.pagination-item-current a, .pagination-item-current a:hover, .pagination-item-current a:focus, .pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
}

/* === CONTENT ENDS === */

/* === FOOTER STARTS === */

.main-social ul {
  list-style: none;
}

.social-button a:hover {
  color: #e74246;
}

.social-button a:active {
  color: #d7373b;
}

.social-text h2 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

.social-text p {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

/* === FOOTER ENDS === */

/* === MODALS START === */

.modal h2 {
  font-size: 45px;
  line-height: 45px;
}

.user-name, .user-email, .user-text-massege {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.modal-post {
  font-size: 16px;
  line-height: 18px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

.modal-post:hover {
  background-color: #e74246;
}

.modal-post:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.name-form input[type="text"], .name-form input[type="email"], .name-form textarea {
  background-color: #fff;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  color: black;
}

.name-form input[type="text"]:hover, .name-form input[type="email"]:hover, .name-form textarea:hover {
  border-color: #b4b9bb;
}

.name-form input[type="text"]:focus, .name-form input[type="email"]:focus, .name-form textarea:focus {
  border-color: #000000;
  color: #444444;
}

/*.name-form input[type="text"]:invalid,
.name-form input[type="email"]:invalid,
.name-form textarea:invalid {
  border-color: #e74246;
  color: #e74246;
}*/

/* === MODALS ENDS === */
